/*page home*/

#page-home {
	background: url("img/Acceuil.jpg") no-repeat center ;
	height: 700px;
	margin-top: 0;
}
#title {
	padding-top: 100px;
}
#page-home h1 {
	background-color: rgba(255,255,255,0.7);
	text-align: center;
	margin: 5px 250px 5px 250px;
	line-height: 80px;
}

#page-home hr{
	background-color: rgba(255,255,255,0.7);
	padding-top: 5px;
	margin: 5px 250px 5px 250px;
	height: 5px;

}
	
body {
	margin-top:0;

}
.left, .right{
    background-color:  #82BDB5;
    padding-bottom: 50px;
    color: white;
    padding-top: 70px;
}

.border {
	border: 5px solid white ;
	margin-top: 20px
    

}
#psychomot-page h3, #psychomot-page h5{
	text-align: center;

}
#psychomot-page p{
	text-align: justify;
	padding: 0px 15px 0px 15px;
    font-size: 16px;
    
}

#psychomot-page img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 60px;
    
}

#psychomot-page h3{
	background-color: #82BDB5;
	margin: -15px 120px 0 120px;
}

#page-contact {
	padding-top: 70px;
	height: 700px;
	background-color: #82BDB5;
	
}
#page-contact p, #page-contact h3 {
	text-align: center;
	color: white;
}

#page-contact h3{
	background-color: #82BDB5;
	margin: -15px 120px 0 120px;
}

/*#page-contact p{
    font-size: 16px;
} */ 
}

.contact {
    border: 5px solid white ;
    margin: 20px 20px 0 30px;

}

/*INTERVENTIONS*/
@import url(http://fonts.googleapis.com/css?family=Dosis:600,200|Great+Vibes);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
*,
/**:after,
*:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}*/
* {
    margin: 0;
    padding: 0;
    border: 0 none;
    position: relative;
}
[class*="fontawesome-"]:before {
    font-family: 'fontawesome', sans-serif;
}

/*Tout*/
/*html {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    color: #fff;
}*/

section {
    background: #82BDB5;
    /*width: 100%;/*
   /* max-width: 40rem;
    min-width: 390px;*/
    height: 35rem;
    margin: 4rem auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}

.page-intervention{
    height: 700px;
}



/*Onglets*/
input {
    display: none;
}

nav {
    background: #fff;
    width: 100%;
    height: 5rem;
}
nav:after {
    content: '';
   /* width: 100%;*/
    height: 5rem;
    position: absolute;
    transition: .5s;
}

/*label {
    /*width: 100%;
    float: left;
    color: #82BDB5;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    z-index: 2;
}
/*
label:hover {
    background: #BCECE5;
    color: #439086;
}
label:before {
    background: #BCECE5;
    display: block;
    font-size: 3rem;
    line-height: 5rem;
    z-index: 2;*/
}


#profile:checked ~ nav [for='profile'],
#settings:checked ~ nav [for='settings'],
#posts:checked ~ nav [for='posts'],
#books:checked ~ nav [for='books'] {
    color: #439086;
    font-weight: 600;
}

#settings:checked ~ nav [for='settings'] {}
#profile:checked ~ nav [for='profile'] {}
#profile:checked ~ nav:after {
    left: 0;
}
#settings:checked ~ nav:after {
    left: 33%;
    border-top: 0 none;
}
#posts:checked ~ nav:after {
    left: 66%;
}
#books:checked ~ nav:after {
    left: 99%;
}
#profile:checked ~ .uno,
#settings:checked ~ .dos,
#posts:checked ~ .tres,
#books:checked ~ .cuatro {
    display: block;
    transform: scale(1);
    transition-delay: .5s;
}



/*Article*/



article {
    position: absolute;
    left: 0;
    top: 5rem;
    right: 0;
    bottom: 0;
    padding: 1rem 2rem 0;
    overflow: auto;
    transition: .7s;
    transform: scale(0);
    transform-origin: center right;
    transition-delay: .1s;
}
article:before {
    color: rgba(0, 0, 0, .2);
    font-size: 4rem;
    font-weight: 100;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

p {
    line-height: 1.5;
    font-size: 1.3rem;
}


a {
    color: rgba(0, 0, 0, .4)
}
a:hover {
    color: rgba(0, 0, 0, .2)
}

.onglet{
    
}

/*FIN INTERVENTION*/

















