#page-home {
	background: url("img/cabinet-grand.png") no-repeat center ;
	height: 700px;
	margin-top: 0;
}
#title {
	padding-top: 100px;
}
#page-home h1 {
	background-color: white;
	text-align: center;
	margin: 5px 250px 5px 250px;
	line-height: 80px;
}

#page-home hr{
	background-color: white;
	padding-top: 5px;
	margin: 5px 250px 5px 250px;
	height: 5px;

}
	


body {
	margin-top:0;
}

