#page-home {
	background: url("img/cabinet-grand.png") no-repeat center ;
	height: 700px;
	margin-top: 0;
}
#title {
	padding-top: 100px;
}
#page-home h1 {
	background-color: white;
	text-align: center;
	margin: 5px 250px 5px 250px;
	line-height: 80px;
}

#page-home hr{
	background-color: white;
	padding-top: 5px;
	margin: 5px 250px 5px 250px;
	height: 5px;

}
	
body {
	margin-top:0;
}

#psychomot-page {
	padding-top: 70px;
	height: 700px;
	background-color:  #82BDB5;
	color: white;
	
}
.border {
	border: 5px solid white ;
	margin-top: 20px

}
#psychomot-page h3, #psychomot-page h5{
	text-align: center;

}
#psychomot-page p{
	text-align: justify;
	padding: 0px 15px 0px 15px;
}

#psychomot-page img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 60px;
}

#psychomot-page h3{
	background-color: #82BDB5;
	
	margin: -15px 120px 0 120px;


}

}
.page-contact p, .page-contact h3 {
	text-align: center;
}
